.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1em 0;
  background-color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .btn {
    padding: 0.75em 3em;
  }
}

.header-spacer {
  padding-bottom: 68px;
}
